.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 200px;
}

.btn-group button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.btn-group button:hover {
  background: #0096ff;
  color: #fff;
}

