.category-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  padding: 25px;
   overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;
  background: #fff;
}

.category-card {
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.icon-box {
  width: 90px;
  height: 90px;
  
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon-box img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.category-card p {
  font-size: 14px;
  font-weight: 500;
}

.category-card:hover {
  transform: translateY(-5px);
}



/* ================= MOBILE ONLY HORIZONTAL SCROLL ================= */
@media (max-width: 768px) {

  .category-wrapper {
    flex-wrap: nowrap;          /* no wrap */
    overflow-x: auto;           /* enable scroll */
    justify-content: flex-start;
    gap: 0px;
    padding: 20px;
    scroll-behavior: smooth;
  }

  .category-wrapper::-webkit-scrollbar {
    display: none;              /* hide scrollbar */
  }

  .category-card {
    min-width: 90px;            /* important for scroll */
  }

  .icon-box {
    width: 70px;
    height: 70px;
  }

  .icon-box img {
    width: 45px;
    height: 45px;
  }

  .category-card p {
    font-size: 12px;
    margin-right: 20px;
  }
}